header {
  width: 550px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background: purple;
  padding: 10px;
}

.navbar__hamburguesa img {
  height: 60px;
}

.navbar__logo img {
  height: 60px;
}

main {
  width: 550px;
}

.slack {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slack {
  background: purple;
  width: 550px;
}

.slack__equipo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 50px 10px 50px;
}

.slack__equipo h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.slack__equipo strong {
  color: yellow;
}

.slack__item {
  text-align: center;
  margin: 0 30px 0 30px;
}

.slack__item p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
  padding: 0 50px 0px 50px;
  letter-spacing: 1px;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.botones__ios {
  padding: 20px;
  color: purple;
  border-color: purple;
  background-color: white;
  border-radius: 3%;
  letter-spacing: 2px;
}

.background img {
  width: 550px;
  height: 450px;
  margin: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.background {
  background-size: cover;
}

.beige {
  display: flex;
  justify-content: center;
}

.beige {
  background-color: beige;
  width: 550px;
}

.beige h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 40px 80px 40px 80px;
}

.logos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logos {
  background-color: beige;
  width: 550px;
}

.logos__primeros {
  margin-bottom: 25px;
}

.logos__segundos {
  margin-bottom: 25px;
}

.logos__terceros {
  margin-bottom: 40px;
}

hr {
  height: 10px;
  background-color: beige;
}

.mano {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 9;
}

.mano img {
  height: 60px;
}

.curved {
  background-color: beige;
  width: 550px;
  height: 650px;
}

.curved {
  position: relative;
}

.curved__trend {
  margin: 20px 40px 10px 15px;
}

.curved__trend h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  text-align: left;
}

.curved__channels {
  margin: 20px 40px 10px 15px;
}

.curved__channels p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  text-align: left;
}

.curved__link {
  margin: 20px 40px 0px 15px;
}

.curved__link a {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
}

.curved__link a:hover::after {
  text-decoration: underline;
  cursor: pointer;
}

.curved2 {
  background-color: beige;
  width: 550px;
  height: 700px;
}

.curved2 {
  position: relative;
}

.curved2 img {
  position: absolute;
  right: 0;
}

.curved2__trend {
  margin: 20px 40px 10px 15px;
  position: absolute;
  bottom: 30%;
  right: 0%;
}

.curved2__trend h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  text-align: right;
}

.curved2__channels {
  margin: 20px 40px 10px 15px;
  position: absolute;
  bottom: 16%;
}

.curved2__channels p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  text-align: right;
}

.curved2__link {
  margin: 20px 40px 10px 15px;
  position: absolute;
  bottom: 8%;
  right: 0;
}

.curved2__link a {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
}

.curved2__link a:hover::after {
  text-decoration: underline;
  cursor: pointer;
}

.curved3 {
  background-color: beige;
  width: 550px;
  height: 700px;
}

.curved3__trend {
  margin: 20px 40px 10px 15px;
}

.curved3__trend h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  text-align: left;
}

.curved3__channels {
  margin: 20px 40px 10px 15px;
}

.curved3__channels p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  text-align: left;
}

.curved3__link {
  margin: 20px 40px 10px 15px;
}

.curved3__link a {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
}

.curved3__link a:hover::after {
  text-decoration: underline;
  cursor: pointer;
}

.empresas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.empresas {
  background: white;
  width: 550px;
}

.empresas__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 20px 30px 20px;
}

.empresas__item h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
}

.empresas__frase {
  text-align: center;
  margin: 20px 15px 20px 15px;
}

.empresas__frase p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
  padding: 0 50px 0px 50px;
  letter-spacing: 1px;
}

.botones-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.botones-box__empresas {
  padding: 20px;
  color: white;
  border-color: purple;
  background-color: purple;
  border-radius: 3%;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.botones-box__ventas {
  padding: 20px;
  color: purple;
  border-color: purple;
  background-color: white;
  border-radius: 3%;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.botones-box img {
  height: 400px;
  margin-bottom: 20px;
}

.capsula {
  background: white;
  width: 550px;
  height: 350px;
}

.capsula {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.capsula iframe {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  display: block;
  overflow: hidden;
  padding-top: 0;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.capsula__video iframe {
  -webkit-clip-path: circle;
          clip-path: circle;
}

.cita {
  background: white;
  width: 550px;
  height: 350px;
}

.cita {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.cita__item {
  display: flex;
  flex-direction: column;
  margin: 30px 40px 30px 30px;
}

.cita__item p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  text-align: left;
  font-style: italic;
}

.cita__item p::before {
  content: " ";
  display: inline-block;
}

.cita__item p::after {
  content: " ";
  display: inline-block;
}

.cita__autor {
  margin: 5px 40px 10px 30px;
}

.cita__autor p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  text-align: left;
}

.cita__link {
  margin: 5px 40px 50px 30px;
}

.cita__link a {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 17px;
  text-align: left;
  text-decoration: none;
}

.cita__link a:hover::after {
  text-decoration: underline;
  cursor: pointer;
}

.cita__link a::after {
  content: " >>>> ";
  display: inline-block;
  margin-left: 15px;
}

.cita__asterisco p {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 500px;
}

.cita__asterisco {
  margin: 5px 40px 10px 50px;
}

.slacko {
  background-color: beige;
  width: 550px;
  height: 750px;
}

.slacko {
  position: relative;
  justify-content: center;
}

.slacko__title {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 0;
}

.slacko__title {
  margin: 40px 40px 10px 15px;
}

.slacko__card {
  background: white;
  width: 300px;
  height: 400px;
}

.slacko__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slacko__card img {
  height: 200px;
  width: 250px;
}

.slacko__card img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 9%;
  top: 2%;
}

.slacko__card__body {
  left: 9%;
  top: 60%;
  position: absolute;
}

.slacko__card__title {
  left: 9%;
  top: 65%;
  position: absolute;
}

.slacko__card__link {
  left: 9%;
  top: 90%;
  position: absolute;
}/*# sourceMappingURL=style.css.map */