main {
    width: 550px;
}

.slack{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slack {
    background: purple;
    width: 550px;
}

.slack__equipo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 50px 10px 50px;     
}

.slack__equipo h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
}
      
.slack__equipo strong{
    color: yellow;
}

.slack__item {
    text-align: center;
    margin: 0 30px 0 30px;   

}

.slack__item p{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 16px;
margin: 0px;
font-weight: 400;
padding: 0 50px 0px 50px;
letter-spacing: 1px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
   
.botones__ios{

    padding: 20px;
    color: purple;
    border-color: purple;
    background-color: white;
    border-radius: 3%;
    letter-spacing: 2px;
}

.background img{
    width: 550px;
    height: 450px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;

}

.background{
    background-size: cover;

}

.beige{
    display: flex;
    justify-content: center;

}

.beige{
    background-color: beige;
    width: 550px;
}

.beige h3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    text-align: center;
    margin: 40px 80px 40px 80px;
}
  
.logos{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.logos{
    background-color: beige;
    width: 550px;
}

.logos__primeros{
    margin-bottom: 25px;
}

.logos__segundos{
    margin-bottom: 25px;
}

.logos__terceros{
    margin-bottom: 40px;
}

hr {
    height: 10px;
    background-color: beige;
}

.mano{
    position:fixed;
    right:1%;
    bottom: 1%;
    z-index: 9;
}

.mano img{
    height: 60px;
}