.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    background: purple;
    padding: 10px;
}

.navbar__hamburguesa img{
    height: 60px;
}

.navbar__logo img{
    height: 60px;
    
}